@import url(https://fonts.googleapis.com/css?family=Lato:300);

.main-container {
  width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;

  font-family: 'Lato', sans-serif;
}

input[type="text"] {
  height: 20px;
  width: 547px;
  border: 0;
  border: .5px solid #bdc3c7;
  border-radius: 2px;
  font-size: 20px;
  padding: 5px;
}

.results {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin-top: 10px;

  a {
    text-decoration: none;
    color: black;
    margin-bottom: 5px;
    border: .5px solid #bdc3c7;
    border-radius: 2px;
    padding: 10px;

    &:hover {
      background-color: #3498db;
      color: #ecf0f1;
      cursor: pointer;
    }
  }
}

.soundcloud-player {
  border: .5px solid #bdc3c7;
  border-radius: 2px;
  padding: 10px;
  margin-bottom: 15px;
}

p {
  margin: 3px 0;
  margin-bottom: 10px;
  padding: 0;
}

.progress-bar {
  display: flex;
  align-items: center;

  span {
    font-size: 12px;
  }

  .elapsed-time {
    margin-right: 15px;
  }

  a {
    text-decoration: none;
    color: #3498db;

    i {
      font-size: 1.5em;
      margin-right: 15px;
    }
  }

  .total-time {
    margin-left: 15px;
  }
  progress {
    width: 400px;
    height: 12px;
    appearance: none;
    border-radius: 2px;
    background-color: #ecf0f1;
    border: 0;
  }

  progress::-webkit-progress-value {
    background-image: #95a5a6;
  }
}
